.detail-card {
  margin: 1em auto;
  margin-top: 5vh;
  padding: 1em;
  width: 40%;
  padding: 1.5 em !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.details {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 1em 0;
}

.detail-card span {
  font-size: 14px;
  font-weight: 600;
}

.detail-btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  margin: 0 0.5em 0.5em 0;
}

.commentForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

.commentForm input {
  width: 100%;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border: 8px;
  border: none;
  font-size: 0.8em;
  font-weight: 500;
}

.comment {
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.replyForm input {
  margin: 0.5em 2em;
  padding: 0.5em;
  border: 8px;
  border: none;
  font-size: 0.8em;
  font-weight: 500;
}

.replies {
  margin: 0.5em 2em;
  font-size: 12px;
}

.reply {
  margin: 0.6em 0;
}


@media only screen and (max-width: 426px) {
  .detail-card {
    width: 90%;
  }
}